Repository five-ducks/heron, pull requests merged in 2024-11, with the labels that each got.

#31 Frontend friend api
  backend/config/asgi.py
  backend/config/settings.py
  backend/games/consumers.py
  backend/games/group_manager.py
  backend/games/models.py
  backend/games/tests.py
  backend/games/urls.py
  backend/games/views.py
  backend/requirements.txt
  backend/websocket/__init__.py
  backend/websocket/admin.py
  backend/websocket/apps.py
  backend/websocket/routing.py
  docker-compose.yml
  frontend/index.html
  frontend/src/components/Avatar/Avatar.css
  frontend/src/components/Avatar/Avatar.js
  frontend/src/components/Button.js
  frontend/src/components/FriendGameRecords/FriendGameRecords.js
  frontend/src/components/FriendGameRecords/FriendOneGameRecord.js
  frontend/src/components/FriendGameRecords/FriendOutcome.css
  frontend/src/components/FriendGameRecords/FriendOutcome.js
  frontend/src/components/FriendSearchModal/FriendSearchModal.css
  frontend/src/components/FriendSearchModal/FriendSearchModal.js
  frontend/src/components/FriendSearchModal/FriendSearchResult.css
  frontend/src/components/FriendSearchModal/FriendSearchResult.js
  frontend/src/components/GameRecords/Outcome.js
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.js
  frontend/src/components/InfoFriendModal/InfoFriendModal.js
  frontend/src/components/Profile/FriendProfile.css
  frontend/src/components/Profile/FriendProfile.js
  frontend/src/components/Profile/Profile.css
  frontend/src/components/Profile/Profile.js
  frontend/src/components/Profile/ProfileIcon.css
  frontend/src/components/Profile/ProfileIcon.js
  frontend/src/components/SelectPage/SelectPage.css
  frontend/src/components/Sidebar/Sidebar.js
  frontend/src/core/core.js
  frontend/src/game/game.js
  frontend/src/routes/index.js
  frontend/src/styles/global.css
  nginx/nginx.conf
Labels: Priority: Medium, Module: Frontend, Skill: Vanilla JavaScript

#38 Real-time user status checking
  backend/config/asgi.py
  backend/users/consumers.py
  backend/websocket/routing.py
  docker-compose.yml
  frontend/src/components/MyProfileContent/ProfileSummary.js
  frontend/src/routes/Login.js
  frontend/src/status/status.js
Labels: Priority: High, Type: Feature, Module: Backend, Skill: Docker, Skill: Django, Module: Infra

#40 Fixing OAuth and Refactoring Infra
  .env
  backend/Dockerfile
  backend/config/settings.py
  backend/docker-entrypoint.sh
  backend/oauth/views.py
  backend/requirements.txt
  backend/users/consumers.py
  backend/users/serializers.py
  backend/users/views.py
  docker-compose.yml
  frontend/src/components/MyProfileContent/ProfileSummary.js
  frontend/src/routes/Login.js
  frontend/src/routes/Main.js
  frontend/src/status/status.js
  nginx/Dockerfile
Labels: Type: Task, Priority: High, Type: Feature, Module: Backend, Module: Frontend, Skill: Docker, Skill: Django, Module: Infra, Skill: Django Rest Framework

#44 Refactoring Oauth
  backend/users/consumers.py
  frontend/src/components/GameRecords/OneGameRecord.js
  frontend/src/components/Header/Header.js
  frontend/src/components/MyProfileContent/ProfileSummary.js
  frontend/src/core/core.js
  frontend/src/routes/Gate.js
  frontend/src/routes/Login.js
  frontend/src/routes/Main.js
  frontend/src/status/status.js
Labels: Priority: Medium, Type: Task, Type: Feature, Module: Backend, Module: Frontend, Skill: Django

#47 Add retrieve multiple user match history api
  backend/games/views.py
Labels: Priority: High, Module: Backend, Skill: Django, Skill: Django Rest Framework

#56 Refactoring DB for MSA
  backend/games/models.py
  backend/games/seiralizers.py
  backend/games/views.py
  backend/users/consumers.py
  backend/users/serializers.py
  backend/users/views.py
  frontend/src/components/MyProfileContent/ProfileSummary.js
  frontend/src/components/Sidebar/Sidebar.js
  frontend/src/status/status.js
  frontend/src/store/game.js
Labels: Type: Task, Priority: High, Module: Backend, Skill: Django, Skill: Django Rest Framework
