Repository five-ducks/heron, pull requests merged in 2024-10, with the labels that each got.

#20 api update
  .gitignore
  frontend/index.html
  frontend/src/components/FriendGameRecords/FriendGameRecords.css
  frontend/src/components/FriendGameRecords/FriendGameRecords.js
  frontend/src/components/FriendGameRecords/FriendOneGameRecord.css
  frontend/src/components/FriendGameRecords/FriendOneGameRecord.js
  frontend/src/components/FriendGameRecords/FriendOutcome.css
  frontend/src/components/FriendGameRecords/FriendOutcome.js
  frontend/src/components/FriendSearchModal/FriendSearchModal.css
  frontend/src/components/FriendSearchModal/FriendSearchModal.js
  frontend/src/components/FriendSearchModal/FriendSearchResult.css
  frontend/src/components/FriendSearchModal/FriendSearchResult.js
  frontend/src/components/Header/Header.js
  frontend/src/components/InfoFriendModal/InfoFriendModal.css
  frontend/src/components/InfoFriendModal/InfoFriendModal.js
  frontend/src/components/Input.js
  frontend/src/components/JoinModal/JoinModal.js
  frontend/src/components/MatchRecord/MatchRecord.css
  frontend/src/components/MatchRecord/MatchRecord.js
  frontend/src/components/MyProfileContent/MyMacro.js
  frontend/src/components/MyProfileContent/MyProfileContent.css
  frontend/src/components/MyProfileContent/MyProfileContent.js
  frontend/src/components/MyProfileContent/ProfileLevel.js
  frontend/src/components/MyProfileContent/ProfileSummary.css
  frontend/src/components/MyProfileContent/ProfileSummary.js
  frontend/src/components/Profile/FriendProfile.css
  frontend/src/components/Profile/FriendProfile.js
  frontend/src/components/Profile/Profile.css
  frontend/src/components/Profile/Profile.js
  frontend/src/components/Profile/ProfileIcon.css
  frontend/src/components/Profile/ProfileIcon.js
  frontend/src/components/SelectPage/SelectPage.css
  frontend/src/components/Sidebar/Sidebar.css
  frontend/src/components/Sidebar/Sidebar.js
  frontend/src/core/core.js
  frontend/src/core/modal.js
  frontend/src/routes/Login.js
  frontend/src/routes/Main.js
  frontend/src/store/game.js
  frontend/src/styles.css
  nginx/nginx.conf
Labels: Priority: Medium, Type: Feature, Module: Frontend, Skill: Vanilla JavaScript

#25 games 테이블(model) 및 users/self api response schema 변경
  backend/games/models.py
  backend/users/views.py
Labels: Priority: Medium, Type: Task, Module: Backend, Skill: Django Rest Framework

#26 Frontend mypage user api
  frontend/src/components/GameRecords/GameRecords.js
  frontend/src/components/GameRecords/OneGameRecord.js
  frontend/src/components/MyProfileContent/ProfileLevel.js
  frontend/src/components/MyProfileContent/ProfileSummary.js
  frontend/src/store/game.js
Labels: Priority: Medium, Type: Feature, Module: Frontend, Skill: Vanilla JavaScript

#33 button.js 스타일 개선
  frontend/index.html
  frontend/src/components/Button.css
  frontend/src/components/Button.js
  frontend/src/components/JoinModal/JoinModal.js
  frontend/src/components/MyProfileContent/ProfileSummary.css
  frontend/src/components/MyProfileContent/ProfileSummary.js
  frontend/src/components/SelectPage/SelectPage.css
  frontend/src/components/Sidebar/Sidebar.css
  frontend/src/components/Sidebar/Sidebar.js
  frontend/src/routes/Gate.js
  frontend/src/routes/Login.js
  frontend/src/store/game.js
  frontend/src/styles.css
  frontend/src/styles/gate.css
  frontend/src/styles/global.css
  frontend/src/styles/login.css
  frontend/src/styles/main.css
Labels: Priority: Medium, Module: Frontend, Skill: Vanilla JavaScript

#34 Backend matchdata fix and Add docker volume for db
  backend/users/serializers.py
  backend/users/views.py
  docker-compose.yml
Labels: Priority: Low, Type: Task, Module: Backend, Skill: Docker, Skill: Django, Module: Infra, Skill: Django Rest Framework
