Repository five-ducks/heron, pull requests merged in 2024-09, with the labels that each got.

#12 Backend users API development
  .DS_Store
  backend/config/settings.py
  backend/users/admin.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
Labels: Priority: Medium, Type: Feature, Module: Backend, Skill: Django Rest Framework

#14 Backend refactor users api
  backend/users/admin.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/views.py
Labels: Priority: Medium, Type: Task, Module: Backend, Skill: Django Rest Framework

#15 Backend oauth signup
  .env
  backend/config/settings.py
  backend/config/urls.py
  backend/oauth/__init__.py
  backend/oauth/admin.py
  backend/oauth/apps.py
  backend/oauth/models.py
  backend/oauth/tests.py
  backend/oauth/views.py
  backend/requirements.txt
Labels: Priority: Medium, Type: Feature, Module: Backend, Skill: Django, Skill: Django Rest Framework

#16 Backend APIs Complete
  backend/config/settings.py
  backend/config/urls.py
  backend/friends/models.py
  backend/friends/serializers.py
  backend/friends/views.py
  backend/games/admin.py
  backend/games/models.py
  backend/games/serializers.py
  backend/games/urls.py
  backend/games/views.py
  backend/schema.yml
  backend/users/serializers.py
  backend/users/views.py
Labels: Priority: Medium, Type: Feature, Module: Backend, Skill: Django, Skill: Django Rest Framework
